[submodule "PendulumController/Libraries/kenwoodfox-kicad-libraries"]
	path = PendulumController/Libraries/kenwoodfox-kicad-libraries
	url = https://github.com/KenwoodFox/kenwoodfox-kicad-libraries.git
